body {
    box-sizing: border-box;
    font-family: 'Kreon', serif;
    margin: 0;
    padding: 10px;
}
h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 50px;
    color: white;
}
.fas {
    margin-right: 10px;
    color: #e0a80b;
}
.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    height: auto;
}
.top-wrapper {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}
nav {
    width: 100%;
}
.top-container {
    display: flex;
    margin: auto;
    width: 90%;
    height: 200px;
}
.logo-container {
    width: 20%;
    height: 100%;
}
.nav-container {
    width: 60%;
    height: 100%;
}
.desctop-nav-list {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.desctop-nav-list li {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desctop-nav-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    color: white;
}
.short-info-container {
    height: 300px;
    background-color: rgba(239, 239, 239, 0.6);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    flex-direction: column;
    text-align: left;
}
.showcase-wrapper {
    height: 600px;
    width: 100%;
    background-image: url(galerija/header.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}